SESSION_SECRET="super-duper-s3cret"
HONEYPOT_SECRET="super-duper-s3cret"
INTERNAL_COMMAND_TOKEN="some-made-up-token"
RESEND_API_KEY="re_blAh_blaHBlaHblahBLAhBlAh"
SENTRY_DSN="your-dsn"
TOKEN_SALT="isthisenougcarst"
DEMO_TOKEN_SALT="isthisenougcarst"
FRAME_ANCESTORS=""
JWT_SECRET=""
PAGE_EXPORTER_SECRET=""
MOCK_AI="false"
STRIPE_SECRET_KEY="test"
STRIPE_ENDPOINT_KEY="test"


# the mocks and some code rely on these two being prefixed with "MOCK_"
# if they aren't then the real github api will be attempted
# GITHUB_CLIENT_ID="MOCK_GITHUB_CLIENT_ID"
# GITHUB_CLIENT_SECRET="MOCK_GITHUB_CLIENT_SECRET"
# GITHUB_TOKEN="MOCK_GITHUB_TOKEN"
OPENAI_API_KEY="not-real-ai"
